<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    
</head>
<body>
    
    <%- include('./partials/_navbar.ejs') %>
    <h1> App Logo </h1>
    <main>
        <h2> Tester </h2>
        <p> Insert Location and Date here </p>
      </main>
    
</body>
</html>


