

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #a64d79; 
    text-align: center;
}

main {
    margin: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

button, .edit-button, .add-guest-button a, input[type="submit"] {
    display: flex;
    background-color: #a64d79;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin: 10px 5px;
    text-align: center;
    font-family: Arial, sans-serif; 
    font-weight: 400; 
    font-size: 16px; 
}

button:hover, .edit-button:hover, .add-guest-button a:hover {
    background-color: #823356; 
}

/* Inputs */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #823356;
}

.attendee-details {
    margin: 20px 0;
}

.attendee-details label {
    font-size: 1.2em;
}

/* Guest List */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #ffffff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul li:hover {
    background-color: #f0f0f0;
}

/* Navbar Styles (Assuming _navbar.ejs) */
nav {
    background-color: #a64d79;
    color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

nav a:hover {
    background-color: #823356;
}

/* Add Guest Button */
.add-guest-button {
    text-align: center;
    margin-top: 20px;
}

.image-container {
    background-image: url("https://images.unsplash.com/photo-1529636798458-92182e662485?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 350px;
    display: flex;
  }
  
  .image-container {
    background-image: url("https://images.unsplash.com/photo-1522413452208-996ff3f3e740?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 350px;
    display: flex;
  }