<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit RSVP</title>
</head>

<body>
    <h1>Edit Your RSVP</h1>
            <form action="/rsvp" method="POST">

                <label for="First name">First Name</label> 
                <input type="text" id="name" name="name" required>
        
                <!-- try this if anything, <label for="firstName">First Name:</label>
                        <input type="text" id="firstName" name="firstName" required> -->
        
                <label for="Last name">Last Name</label> 
                <input type="text" id="name" name="name" required>
        
                <!-- <label for="lastName">Last Name:</label>
            <input type="text" id="lastName"   
         name="lastName" required>  -->
        
                <label for="plus One">Plus One:</label>
                 <input type="text" id="rsvp" name="rsvp">
    
                 <button type="submit">Update</button>
</form>
</body>
</html>







        <!-- <label for="date">Date:</label>
        <input type="date" name="date" id="date"  >

        <label for="location">Location:</label>
        <input type="text" name="location" id="location">

       <label for="guest">guests:</label>
        <input type="number" min="0" name="guests" id="guest" > -->

        <!-- <label for="First name">First Name</label> 
        <input type="text" id="name" name="name" required>

        <label for="Last name">Last Name</label> 
        <input type="text" id="name" name="name" required>

        <label for="plus One">Bringing a Plus One?</label>
        <input type="checkbox" id="rsvp" name="rsvp">

        <label for="willBeAttending">Plus 1?</label>
        <input type="checkbox" name="willBeAttending" id="willBeAttending"
    
        <button type="submit">We're Going!</button>

       <button type="submit">Update RSVP</button> -->

