<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest List</title>
</head>

<body>
  <a href="/auth/sign-in">Sign In</a>
  <a href="/auth/sign-up">Sign Up</a>
  <h1>Guest List</h1>

  <ul>
      <% rsvp.forEach((rsvp)=>{ %>
    <a href="/users/<%= user._id %>/rsvp/<%= rsvp._id %>">
    <li><%= rsvp.firstName %> - <%= rsvp.lastName %></li>
      <% }) %>    
    </a>
  </ul>

  <div class="add-guest-button">
    <a href="/rsvp/new">Add New Guest</a>
  </div>

</body>
</html>

