<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New RSVP</title>
</head>

<body>

    <h1>RSVP To Event!</h1>

        <form action="/rsvp" method="POST">

        <label for="First name">First Name</label> 
        <input type="text" id="name" name="name" required>

        <label for="Last name">Last Name</label> 
        <input type="text" id="name" name="name" required>

        <label for="plus One">Plus One:</label>
        <input type="text" id="rsvp" name="rsvp">

         <button type="submit">We're Going!</button>

</body>
</html>

